{#if show }

    <div class="popup-lgpd">
        <span>
            {#if texto }
                {texto}
            {:else}
            A gente usa cookies para personalizar anúncios e melhorar a sua experiência no site. 
            Ao continuar navegando, você concorda com a nossa 
            {/if}
            <a href={link}>Política de Privacidade</a>.
        </span>
        <button on:click={handleClick}>
            continuar e sair
        </button>
    </div>
{/if}

<style scoped>
	.popup-lgpd {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: fixed;
		bottom: 1em;
		width: 85%;
		left: 50%;
		transform: translateX(-50%);
		box-shadow: 0 0 5px -2px black;
		padding: 0.5em 1em;
		box-sizing: border-box;
		background-color: #efefef;
	}
	.popup-lgpd button {
		margin: 0;
		padding: 0.5em 1em;
		min-width: 150px
	}
</style>
<script>
    export let link;
    export let texto;

    import Cookies from 'js-cookie';
    let show;
    if (!Cookies.get('lgpd')) {
        show = true;
    }
    
    
    function handleClick() {
        Cookies.set('lgpd', '1');
        show = false;
    }
</script>